deploy/statemachine.asl.json
{
  "Comment": "Interlock v2 pipeline lifecycle: evaluation, trigger, job polling, SLA monitoring via EventBridge Scheduler",
  "StartAt": "InitEvalLoop",
  "States": {
    "InitEvalLoop": {
      "Type": "Pass",
      "Comment": "Initialize elapsed-seconds counter for the evaluation window",
      "Result": {
        "elapsedSeconds": 0
      },
      "ResultPath": "$.evalLoop",
      "Next": "Evaluate"
    },
    "Evaluate": {
      "Type": "Task",
      "Resource": "${orchestrator_arn}",
      "Parameters": {
        "mode": "evaluate",
        "pipelineId.$": "$.pipelineId",
        "scheduleId.$": "$.scheduleId",
        "date.$": "$.date"
      },
      "ResultPath": "$.evaluateResult",
      "Next": "IsReady",
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.TooManyRequestsException",
            "States.TaskFailed"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.errorInfo",
          "Next": "InfraFailure"
        }
      ]
    },
    "IsReady": {
      "Type": "Choice",
      "Comment": "Check if all traits passed evaluation",
      "Choices": [
        {
          "Variable": "$.evaluateResult.status",
          "StringEquals": "passed",
          "Next": "Trigger"
        }
      ],
      "Default": "WaitInterval"
    },
    "WaitInterval": {
      "Type": "Wait",
      "Comment": "Wait before the next evaluation attempt",
      "SecondsPath": "$.config.evaluationIntervalSeconds",
      "Next": "IncrementElapsed"
    },
    "IncrementElapsed": {
      "Type": "Pass",
      "Comment": "Track total elapsed seconds in the evaluation window",
      "Parameters": {
        "elapsedSeconds.$": "States.MathAdd($.evalLoop.elapsedSeconds, $.config.evaluationIntervalSeconds)"
      },
      "ResultPath": "$.evalLoop",
      "Next": "CheckWindowExhausted"
    },
    "CheckWindowExhausted": {
      "Type": "Choice",
      "Comment": "Has the evaluation window been exceeded?",
      "Choices": [
        {
          "Variable": "$.evalLoop.elapsedSeconds",
          "NumericGreaterThanEqualsPath": "$.config.evaluationWindowSeconds",
          "Next": "ValidationExhausted"
        }
      ],
      "Default": "Evaluate"
    },
    "ValidationExhausted": {
      "Type": "Task",
      "Comment": "Publish VALIDATION_EXHAUSTED event; window closed without passing",
      "Resource": "${orchestrator_arn}",
      "Parameters": {
        "mode": "validation-exhausted",
        "pipelineId.$": "$.pipelineId",
        "scheduleId.$": "$.scheduleId",
        "date.$": "$.date"
      },
      "ResultPath": "$.validationExhaustedResult",
      "Next": "CheckCancelSLA",
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.TooManyRequestsException",
            "States.TaskFailed"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.errorInfo",
          "Next": "InfraFailure"
        }
      ]
    },
    "Trigger": {
      "Type": "Task",
      "Comment": "Invoke the pipeline trigger; returns a runId and metadata. Infra failures return Lambda errors retried with exponential backoff (30s, 60s, 120s, 240s).",
      "Resource": "${orchestrator_arn}",
      "Parameters": {
        "mode": "trigger",
        "pipelineId.$": "$.pipelineId",
        "scheduleId.$": "$.scheduleId",
        "date.$": "$.date"
      },
      "ResultPath": "$.triggerResult",
      "Next": "HasTriggerResult",
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.TooManyRequestsException",
            "States.TaskFailed"
          ],
          "IntervalSeconds": 30,
          "MaxAttempts": 4,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.errorInfo",
          "Next": "TriggerRetryExhausted"
        }
      ]
    },
    "TriggerRetryExhausted": {
      "Type": "Task",
      "Comment": "Publish RETRY_EXHAUSTED event, write joblog entry, release trigger lock",
      "Resource": "${orchestrator_arn}",
      "Parameters": {
        "mode": "trigger-exhausted",
        "pipelineId.$": "$.pipelineId",
        "scheduleId.$": "$.scheduleId",
        "date.$": "$.date",
        "errorInfo.$": "$.errorInfo"
      },
      "ResultPath": "$.triggerExhaustedResult",
      "Next": "CheckCancelSLA",
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.TooManyRequestsException",
            "States.TaskFailed"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.errorInfo",
          "Next": "CheckCancelSLA"
        }
      ]
    },
    "HasTriggerResult": {
      "Type": "Choice",
      "Comment": "If a job was triggered, poll for completion; otherwise finish (validation exhausted)",
      "Choices": [
        {
          "Variable": "$.triggerResult",
          "IsPresent": true,
          "Next": "WaitForJob"
        }
      ],
      "Default": "FailValidationExhausted"
    },
    "FailValidationExhausted": {
      "Type": "Fail",
      "Error": "ValidationExhausted",
      "Cause": "Evaluation window closed without all validation rules passing"
    },
    "WaitForJob": {
      "Type": "Wait",
      "Comment": "Wait before polling the triggered job",
      "SecondsPath": "$.config.jobCheckIntervalSeconds",
      "Next": "CheckJob"
    },
    "CheckJob": {
      "Type": "Task",
      "Comment": "Poll triggered job status via trigger API",
      "Resource": "${orchestrator_arn}",
      "Parameters": {
        "mode": "check-job",
        "pipelineId.$": "$.pipelineId",
        "scheduleId.$": "$.scheduleId",
        "date.$": "$.date",
        "runId.$": "$.triggerResult.runId",
        "metadata.$": "$.triggerResult.metadata"
      },
      "ResultPath": "$.checkJobResult",
      "Next": "IsJobDone",
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.TooManyRequestsException",
            "States.TaskFailed"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.errorInfo",
          "Next": "InfraFailure"
        }
      ]
    },
    "IsJobDone": {
      "Type": "Choice",
      "Comment": "Route on job-check outcome: terminal events proceed to trigger completion, otherwise keep polling",
      "Choices": [
        {
          "Not": {
            "Variable": "$.checkJobResult.event",
            "IsPresent": true
          },
          "Next": "WaitForJob"
        },
        {
          "Variable": "$.checkJobResult.event",
          "StringEquals": "success",
          "Next": "CompleteTrigger"
        },
        {
          "Variable": "$.checkJobResult.event",
          "StringEquals": "fail",
          "Next": "CompleteTrigger"
        },
        {
          "Variable": "$.checkJobResult.event",
          "StringEquals": "timeout",
          "Next": "CompleteTrigger"
        }
      ],
      "Default": "WaitForJob"
    },
    "CompleteTrigger": {
      "Type": "Task",
      "Comment": "Set trigger row to terminal status: COMPLETED on success, FAILED_FINAL on fail/timeout",
      "Resource": "${orchestrator_arn}",
      "Parameters": {
        "mode": "complete-trigger",
        "pipelineId.$": "$.pipelineId",
        "scheduleId.$": "$.scheduleId",
        "date.$": "$.date",
        "event.$": "$.checkJobResult.event"
      },
      "ResultPath": "$.completeTriggerResult",
      "Next": "CheckCancelSLA",
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.TooManyRequestsException",
            "States.TaskFailed"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.errorInfo",
          "Next": "CheckCancelSLA"
        }
      ]
    },
    "CheckCancelSLA": {
      "Type": "Choice",
      "Comment": "Cancel SLA schedules if SLA was configured, otherwise finish",
      "Choices": [
        {
          "Variable": "$.config.sla",
          "IsPresent": true,
          "Next": "CancelSLASchedules"
        }
      ],
      "Default": "Done"
    },
    "CancelSLASchedules": {
      "Type": "Task",
      "Comment": "Delete unfired SLA schedules and record final SLA outcome",
      "Resource": "${sla_monitor_arn}",
      "Parameters": {
        "mode": "cancel",
        "pipelineId.$": "$.pipelineId",
        "scheduleId.$": "$.scheduleId",
        "date.$": "$.date",
        "deadline.$": "$.config.sla.deadline",
        "expectedDuration.$": "$.config.sla.expectedDuration"
      },
      "ResultPath": "$.slaResult",
      "Next": "Done",
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.TooManyRequestsException",
            "States.TaskFailed"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.errorInfo",
          "Next": "Done"
        }
      ]
    },
    "InfraFailure": {
      "Type": "Fail",
      "Error": "InfraFailure",
      "Cause": "Unrecoverable infrastructure error"
    },
    "Done": {
      "Type": "Succeed"
    }
  }
}
